:root {
	--create-height: 50px;
}

input {
	width: 30%;
	min-width: 300px;
	height: 50px;
	border: none;
	border-radius: var(--border-radius);
	background: var(--bg-sec);
	font-size: 1.3rem;
	margin: 0 10px;
	padding-left: 5px;
}

#head {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: var(--create-height);
}

#create-btn {
	width: fit-content;
}

#entries {
	margin-top: 10px;
	display: grid;
	grid-gap: 5px;
	width: calc(var(--content-width) - 2 * 10px);
	max-height: calc(100vh - 3 * 10px - var(--create-height));

	padding-right: 10px;
	overflow-y: auto;
	box-sizing: border-box;
}

.entry {
	background: var(--bg-sec);
	border-radius: var(--border-radius);
	padding: 10px;
	box-sizing: border-box;
	white-space: initial;
	word-wrap: break-word;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
