:root {
	--bg-prim: #222222;
	--bg-sec: #2e2e2e;
	--accent: #3ba555;
	--border-radius: 10px;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: var(--bg-prim);
}

input,
button {
	border: none;
	box-sizing: border-box;
	border-radius: var(--border-radius);
}

button {
	cursor: pointer;
}
